html{
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background: #3f51b5;
  width: 100%;
  margin: 0;

}

h1 {
  width: auto;
  height:40px;
  background: #303f9f;
  color: white;
  font-size: 30px;
  margin-top:2px;
}


h3 {
  color: white;
  text-align: center;
  font-size: 25px;
}

.g-signin2 {
 float: right;

}

input{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  color:#311B92;
  background-color: white;
  
}

.button{
  background-color: #311B92 ; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.quiz-card{
  text-align: center;
  
}

div{
  text-align: center;
  
}