body {
    background-image: url("../../assets/paris-background.jpeg");
    -webkit-background-size: auto 90%;
    -moz-background-size: auto 90%;
    -o-background-size: auto 90%;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right; 
    text-align: center;
}

#title, #subtitle {
    font-family: 'Merriweather', serif;
}

#title {
    margin: 50px auto 10px;
    font-size: 50px;
}

#subtitle {
    margin: 10px;
    font-size: 20px;
}

#google-signin-button {
    margin: 140px auto 0;
    background-image: url("../../assets/google-signin-button/sprites.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 320px;
    width: 190px;
    height: 44px;
}

#google-signin-button:hover {
    background-position: 0 -45px;
    height: 48px;
}

#google-signin-button:active {
    background-position: 0 -91px;
    height: 44px;
}