html {
    height: 100vh;
    font-family: 'Merriweather', serif;
}

body {
    background-image: url("../../assets/paris-background.jpeg");
    -webkit-background-size: auto 60%;
    -moz-background-size: auto 60%;
    -o-background-size: auto 60%;
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    text-align: center;
}

#app {
    width: 80%;
    margin: 0 auto;
}

#title, #subtitle {
    padding: 2px;
    background-color: white;
}

#title {
    margin-bottom: 10px;
    font-size: 50px;
    color: #4268f4;
}

#subtitle {
    margin: 10px;
    font-size: 14px;
}

#sign-out-button {
    position: fixed;
    padding: 20px;
    top: 0;
    right: 0;
}

#google-signin-button {
    margin: 140px auto 0;
    background-image: url("../../assets/google-signin-button/sprites.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 320px;
    width: 190px;
    height: 44px;
}

#google-signin-button:hover {
    background-position: 0 -45px;
    height: 48px;
}

#google-signin-button:active {
    background-position: 0 -91px;
    height: 44px;
}

#welcome-text {
    margin-top: 100px;
    
    p {
        font-size: 20px;
    }
}

#quiz-card {
    margin-top: 100px;
}

#question, #compliment {
    padding: 10px;
    font-size: 40px;
}

#question {
    background-color: #afb9c9;
}

#feedback {
    position: relative;
    padding: 10px;
    font-size: 32px;
    
    p:nth-child(1) {
        margin-top: 0;
    }
    p:nth-child(2) {
        background-color: #ECA191;
    }
    
}

#input-answer {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    font-size: 28px;
    text-align: center;
    border: 1px black solid;
}

#submit-button, #next-question-button {
    color: white;
    background-color: #4268f4;
    font-size: 24px;
}

#submit-button {
    margin-left: 4px;
    width: 88px;
    height: 34px;
}

#next-question-button {
    width: 120px;
    height: 70px;
}

#question-form {
        display: inline-block;
    text-align: center;
}

#score {
    margin-top: 20px;
    padding: 2px;
    background-color: white;
}

#result {
    margin-top: 2px;
}

.filler {
    width: 75.48px;
    height: 20px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.fa-sign-out {
    margin-right: 4px;
}

.start-button {
    font-size: 22px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #app { max-width: 500px; }
    #title { font-size: 80px; }
    #subtitle { font-size: 24px; }
    body {
        background-image: url("../../assets/paris-background.jpeg");
        -webkit-background-size: auto 90%;
        -moz-background-size: auto 90%;
        -o-background-size: auto 90%;
        background-size: auto 90%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right; 
    }
    #welcome-text {
        p {
            font-size: 30px;
        }
    }
    .start-button { font-size: 26px; }
}